# Игнорируем папку с исходными датасетами картинок
data/
model_StP/data/

# Игнорируем файлы весов моделей нейросетей
*.pth
weights/
model_StP/weights/

# Игнорируем папку виртуального окружения Python
env/
venv/
# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride

# Настройки VS Code (если не хотите делиться своими темами/плагинами)
.vscode/
!.vscode/extensions.json

# Кэш Python и виртуальные окружения
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
conda-env/

# Файлы данных (если ваши модели используют тяжелые датасеты)
*.csv
*.json
*.sqlite3
